# Creating PDF Reports with Pandas, Jinja and WeasyPrint
[http://pbpython.com/pdf-reports.html](http://pbpython.com/pdf-reports.html)

First of all I've mocked some data on Mockaroo

In [1]:
from __future__ import print_function
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/sales_report.csv", sep=',', encoding='utf-8')
df.head()

,Account,Name,Company,Manager,Product,Quantity,Price
0,383834,Izaak Tattersall,"Bahringer, Balistreri and Dickens",Gloria Osbaldeston,Pork - Ham Hocks - Smoked,1,$453.55
1,656536,Enoch Nasey,Feeney-Aufderhar,Johnny Pearde,Wine - Chenin Blanc K.w.v.,2,$760.73
2,627574,Clifford Dursley,Moen Inc,Earle Geaney,Raisin - Golden,3,$320.12
3,707250,Peta Juliff,Pacocha and Sons,Paloma Sheavills,Carbonated Water - Raspberry,4,$132.22
4,532894,Shaina Estick,Block LLC,Giovanni Schwier,Steampan Lid,5,$520.72

In [3]:
price_to_num = lambda x: float(x.replace("$",""))
df['Price'] = df['Price'].map(price_to_num)

In [4]:
df.head()

,Account,Name,Company,Manager,Product,Quantity,Price
0,383834,Izaak Tattersall,"Bahringer, Balistreri and Dickens",Gloria Osbaldeston,Pork - Ham Hocks - Smoked,1,453.55
1,656536,Enoch Nasey,Feeney-Aufderhar,Johnny Pearde,Wine - Chenin Blanc K.w.v.,2,760.73
2,627574,Clifford Dursley,Moen Inc,Earle Geaney,Raisin - Golden,3,320.12
3,707250,Peta Juliff,Pacocha and Sons,Paloma Sheavills,Carbonated Water - Raspberry,4,132.22
4,532894,Shaina Estick,Block LLC,Giovanni Schwier,Steampan Lid,5,520.72

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
Account     1000 non-null int64
Name        1000 non-null object
Company     1000 non-null object
Manager     1000 non-null object
Product     1000 non-null object
Quantity    1000 non-null int64
Price       1000 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 54.8+ KB

In [6]:
df.sort_values(by=['Company','Product'],inplace=True)

In [7]:
sales_pivot = df.pivot_table(index=['Company','Product'],
                             values=['Quantity','Price'],
                             aggfunc=[np.sum,np.mean],
                             fill_value=0)
sales_pivot.head()

                                                               sum           \
                                                             Price Quantity
Company                 Product
Abbott, Beer and Wisozk Ice Cream Bar - Oreo Cone           541.42      923
Abbott, Metz and Emard  Sprouts - Pea                       779.21      213
Abbott-Borer            Mints - Striped Red                 957.16      382
Abernathy LLC           Prunes - Pitted                     990.19      595
Abernathy and Sons      Wine - Touraine Azay - Le - Rideau  340.63      847

                                                              mean
                                                             Price Quantity
Company                 Product
Abbott, Beer and Wisozk Ice Cream Bar - Oreo Cone           541.42      923
Abbott, Metz and Emard  Sprouts - Pea                       779.21      213
Abbott-Borer            Mints - Striped Red                 957.16      382
Abernathy LLC           Prunes - Pitted                     990.19      595
Abernathy and Sons      Wine - Touraine Azay - Le - Rideau  340.63      847

In [8]:
df['Product'].value_counts().head()

Wine - Gato Negro Cabernet    4
Appetizer - Sausage Rolls     3
Wine - Red, Metus Rose        3
Compound - Pear               3
Veal - Liver                  3
Name: Product, dtype: int64

In [9]:
print(df[df['Product']=='Wine - Gato Negro Cabernet']['Quantity'].mean())
print(df[df['Product']=='Pork - Tenderloin, Frozen']['Price'].mean())
print(df[df['Product']=='Wine - Gato Negro Cabernet']['Quantity'].mean())
print(df[df['Product']=='Pork - Tenderloin, Frozen']['Price'].mean())

423.75
354.46666666666664
423.75
354.46666666666664

Here is a very interesting tool when you are working with pandas.
You can simples use this function, send data to clipboard and paste on excel.
Documentation: [link](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_clipboard.html)

```python
df.to_clipboard()
```

### Notes

Requirements for your platform:
* Linux: xclip, or xsel (with gtk or PyQt4 modules)
* Windows: none
* OS X: none

In [ ]:
df.to_clipboard()

## Templating
Jinja is very powerfull and it's very common to use with python, it allows you to "code" inside a HTML template.

Jinja has some [builtin filters](http://jinja.pocoo.org/docs/dev/templates/#builtin-filters) that allows you to format data.

So to start let's take a look in a simple Jinja template:

```html
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2>Sales Report</h2>
     {{ sales_pivot }}
</body>
</html>
```

These variables inside **{{ }}** can be used to place your data in.

In [10]:
import jinja2
envi = jinja2.Environment(loader=jinja2.FileSystemLoader('./'))
template = envi.get_template("report_template.html")

In [11]:
template_vars = {'title' : 'Sales',
                 'sales_pivot' : sales_pivot.to_html()}

In [12]:
html_out = template.render(template_vars)

## Generate PDF

On windows I got this error:
```msg
OSError: dlopen() failed to load a library: cairo / cairo-2
```

So I decided to switch to ubuntu to test asap.

Possible solution:
[Looks like you don't have cairo installed](https://github.com/Kozea/CairoSVG/issues/84)

In [13]:
from weasyprint import HTML

In [14]:
HTML(string=html_out).write_pdf('report.pdf')

You can use css style as well, just add stylesheets params

In [15]:
HTML(string=html_out).write_pdf('report_css.pdf', stylesheets=["style.css"])